@using Social_Diplon.Models;
@{
    ViewBag.Title = "FriengList";
    Layout = "~/Views/_Layout.cshtml";
}

@{ Html.RenderPartial("head");}

@*<header class="row" style="padding-bottom: 10px;">
    <nav class="justify-content-between container col-12 navbar navbar-expand-sm navbar-inverse bg-primary header_nav" id="nav">
        <a class="navbar-brand col-2 offset-1" style="color: #e8eeee; margin-left: 10.5%">Network</a>
        <div class=" col-3 form-inline my-2 my-lg-0 dropdown">
            <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="margin-left: 3%; color: #e8eeee;">
                @ViewBag.Prof, @ViewBag.Raiting
            </a>
            <div class="dropdown-menu" style="font-size: 0.8rem;">
                <a class="dropdown-item text-secondary" href="#">Профиль</a>
                <a class="dropdown-item text-secondary" href="#">Настройки</a>
                <div class="dropdown-divider"></div>
                @Html.RouteLink("Выход", new { controller = "Exit", action = "Index" }, new { @class = "dropdown-item text-secondary" })
                @*<a class="dropdown-item text-secondary" href="#">Выход</a>*@
            @*</div>
        </div>
    </nav>
</header>*@

<section class="row">
    @{ Html.RenderPartial("section");}
    @*<form class="col-2 offset-1">
            <ul>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Профиль</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Лента</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Группы</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Собщения</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Друзья</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Статистика</a></li>
                <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Задания</a></li>
            </ul>
        </form>*@
    <style>
        .edge {
            min-height: -webkit-fill-available;
        }
    </style>
    <div class="col-6">
        <div class="w-100 edge d-inline-block" style="background-color: #e8eeee; float: right;">
            <div style="margin-left: 10px; margin-right:10px;">
                <h6 class="col-10 d-inline-block" style="margin-top: 10px; margin-bottom: 3px;">Друзья</h6>
                <hr>
                <form class="w-100 form-inline" id="FindFriend" action="/Friend/FindFriends" method="get">
                    <p class="col-3 d-inline-block">Найти друга</p>
                    <input type="search" class="form-control col-7" name="FindFriend" required pattern="(^[A-Za-zА-Яа-яЁё]+$)) (^[A-Za-zА-Яа-яЁё]+$)">
                    <input type="submit" class="col-2 btn btn-secondary d-inline-block float-right" value="Найти">
                    <hr>
                </form>




                <hr>
                @foreach (var u in (ViewBag.Friends as List<ReturnPeoples>))
                {
                    <div class="w-100">

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal_@u.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Написать сообщение</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form class="w-100">
                                            <div class="w-100" style="padding-top: 10px; padding-bottom: 10px;">
                                                <div class="col-3 d-inline-block">
                                                    <img src="@u.AvatarPath" style="border-radius: 50%; height: 80px; width: 80px; display: inline-block;">
                                                </div>
                                                <div class="col-7 d-inline-block">
                                                    <h6 class="w-100">@u.FirstName @u.LastName </h6>
                                                    <p class="w-100 d-inline-block" style="font-size: 0.85em; margin-bottom: 5px;">@u.Quote</p>
                                                </div>
                                            </div>
                                            <hr class="message-hr">
                                        </form>

                                        @*<form class="form-inline row">*@
                                            @using (Html.BeginForm("SendMessage", "Friend", FormMethod.Post))
                                            {
                                                @Html.Hidden("userId",u.id)
                                                <div class="w-100">
                                                    <textarea class="form-control w-100" placeholder="Введите текст сообщения"name="userText" required></textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" class="btn btn-primary"/>
                                                    @*<button type="button" class="btn btn-primary">Отправить</button>*@

                                                </div>
                                            }

                                        @*</form>*@
                                           </div>
                                    
                                </div>
                            </div>
                        </div>


                        <div class="w-100" style="padding-top: 10px; padding-bottom: 10px;">
                            <div class="col-2" style="display: inline-block;">

                                <img src="@u.AvatarPath" style="border-radius: 50%; height: 90px; width: 90px; display: inline-block;">

                            </div>
                            <div class="col-6" style="display: inline-block;">

                                <h6 class="w-100"> @Html.ActionLink($"{@u.LastName} {@u.FirstName}", "OtherProfil", "Profil", new { id = u.id }, new { @class = "h-a" })</h6>

                                <p class="w-100" style="font-size: 0.85em; margin-bottom: 5px;display: inline-block;">@u.Quote</p>
                            </div>
                            <div class="col-4 d-inline-block" style="width: 31%">
                                <div class="form-inline col-2 offset-10 dropdown" style="vertical-align: top; height: 5px;">
                                    <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="margin-left: 3%; color: #e8eeee;">
                                        ...
                                    </a>
                                    <div class="dropdown-menu" style="font-size: 0.8rem;">
                                        <a class="dropdown-item text-secondary" href="#">Удалить</a>
                                        <a class="dropdown-item text-secondary" href="#">Посмотреть друзей</a>
                                    </div>
                                </div>
                                <a class="w-100 d-inline-block send-message-friend" data-toggle="modal" data-target="#exampleModal_@u.id">Написать сообщение</a>
                            </div>
                        </div>
                        <hr class="message-hr">


                        @*<div class="w-100" style="padding-top: 10px; padding-bottom: 10px;">
                            <div class="col-2" style="display: inline-block;">

                                <img src="@u.AvatarPath" style="border-radius: 50%; height: 90px; width: 90px; display: inline-block;">

                            </div>
                            <div class="col-6" style="display: inline-block;">

                                <h6 class="w-100"><a href="#" class="h-a"> @u.FirstName @u.LastName </a></h6>

                                <p class="w-100" style="font-size: 0.85em; margin-bottom: 5px;display: inline-block;">@u.Quote</p>
                            </div>
                            <div class="col-4 d-inline-block" style="width: 31%">
                                <div class="form-inline col-2 offset-10 dropdown" style="vertical-align: top; height: 5px;">
                                    <a href="#" class="dropdown-toggle link" data-toggle="dropdown" style="margin-left: 3%; color: #e8eeee;">
                                        ...
                                    </a>
                                    <div class="dropdown-menu" style="font-size: 0.8rem;">
                                        <a class="dropdown-item text-secondary" href="#">Удалить</a>
                                        <a class="dropdown-item text-secondary" href="#">Посмотреть друзей</a>
                                    </div>
                                </div>
                                <a class="w-100 d-inline-block send-message-friend" data-toggle="modal" data-target="#exampleModal">Написать сообщение</a>
                            </div>
                        </div>
                        <hr class="message-hr">*@
                    </div>
                }

                <div class="row post">

                </div>

            </div>

        </div>
    </div>

    <div class="col-2">
        <div class="w-100" style="background: #e8eeee; border-radius: 3px; padding-left: 2px; ">
            <div class="w-100 border-shadow"><p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p></div>
            <p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p>
            <p style="font-size: 0.85em;">Напоминание: сегодня пройдет мероприятие, которое надо постетить!</p>

        </div>
    </div>
</section>
