

<form class="col-2 offset-1">
    <ul>
        <li class="nav nav-sidebar btn-info btn_menu"> @Html.RouteLink("Профиль", new { controller = "Profil", action = "YourselfProfil" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Лента", new { controller = "Profil", action = "YourselfProfil" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Группы", new { controller = "Profil", action = "YourselfProfil" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Сообщения", new { controller = "Messages", action = "MessageList" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Друья", new { controller = "Friend", action = "FriengList" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Статистика", new { controller = "Profil", action = "YourselfProfil" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
        <li class="nav nav-sidebar btn-info btn_menu">@Html.RouteLink("Задания", new { controller = "Profil", action = "YourselfProfil" }, new { @class = "btn w-100", style = "color:#ffffff;" })</li>
    </ul>
</form>


@*<form class="col-2 offset-1">
        <ul>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Профиль</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Лента</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Группы</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Собщения</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Друзья</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Статистика</a></li>
            <li class="nav nav-sidebar btn-info btn_menu"><a class="btn w-100">Задания</a></li>
        </ul>
    </form>*@



